main { margin: 0 auto; }
.personal-photo { border: 3px solid #a73d5d; }
h1 {
    text-align: center;
    font: bold 24px Times New Roman, serif;
    background-color: #faccd6;
    padding: 20px 20px;
    color: #b5838d;
}
h2 {
    font: bold 20px Times New Roman, serif;
    color: #e5989b;
}
p {
    font: 16px Verdana, sans-serif;
    color: #a73d5d;
}
a {
    text-decoration: none;
    color: #860202;
}
ul { 
    font: 16px Verdana, sans-serif;
    color: #a73d5d; 
}
section {
    padding: 15px 20px;
    margin: 5px;
}
footer {
    font: 26px Times New Roman, serif;
    color: #e5989b;
}